**/.git
**/.gitignore
**/.gitattributes
**/target/
**/build/
.mvn/wrapper/maven-wrapper.jar
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/.vscode
**/.settings
**/.project
**/.classpath
**/docker-compose*.yml
**/Dockerfile*
**/*.md
**/*.env
**/*.env.*
**/scratch/
**/.DS_Store
**/Thumbs.db
