SERVER_PORT=9000
ALLOWED_ORIGINS_URI_CORS=http://localhost:3000
LOGIN_REDIRECT=http://127.0.0.1:8080/login/oauth2/code/oauth2-client
LOGOUT_REDIRECT=http://127.0.0.1:8080/
CLIENT_SECRET=change_this_secret_in_production
AUTHSERVER_URI=http://localhost:9000
TOKEN_URI=http://localhost:9000/oauth2/token
RSA_KEY_ID=auth-server-key-1
CLIENT_USER_SERVICE_SCOPE=user.read
CLIENTID_USER_SERVICE=user-client
CLIENTID_OIDC=oidc-client
USER_SERVICE_URL=http://user-service:8080
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DOCKER_CPU_LIMIT=2.0
DOCKER_MEM_LIMIT=1024M
DOCKER_CPU_RESERVATION=0.5
DOCKER_MEM_RESERVATION=512M
